<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Id="TODO_Manufacturer.Capp" Name="Expense Tracker" Manufacturer="Nguyen Ngoc Bao Chau" Version="1.0.0">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<Feature Id="Main">
			<ComponentGroupRef Id="ExampleComponents" />
		</Feature>
	</Package>
</Wix>
